@charset "UTF-8";

.quadrado {
  display: inline-block;
  border: 1px solid black;
  border-radius: 8px;
  background-color: lightblue;

  width: 300px;
  height: 300px;
}

#q1 {
  background-color: aquamarine;
}

#q2 {
  background-image: linear-gradient(to bottom, yellow, red);
}

#q3 {
  background-image: url('imagens/pattern001.png');
  
}